<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Письмо</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
<div class="letter">
        <div class="from">От: Илья</div>
        <div class="content">
            <p>Кому: Дарья</p>
            <p>Дорогая матурым, поздравляю нас с тем, что мы уже 2 года вместе. Я очень счастлив, что ты
                есть в моей жизни, ты моя лучшая поддержка и опора. Вместе с тобой я многому научился и стал
                гораздо лучше. Ты помогла мне развиваться как препод, как программист, помогла дисциплинироваться,
                помогла бросить курить, поддерживала мое стремление ходить в зал, заниматься саморазвитием и
                финансами. Большое спасибо, что делаешь меня лучше, я это очень ценю и очень надеюсь, что
                смогу выразить тебе еще больше благодарности через год, а также, что смогу разделить плоды
                своего развития с тобой сейчас, через год и на финансовой свободе. Я очень тебя люблю и чувствую,
                что это ощущение становится сильнее со временем настолько, что начинаю понимать отличия от влюбленности
            </p>
        </div>
        <div class="links">
            <p>Пока мы были вместе, произошло много классного, давай немного вспомним:</p>
            {% for link in links %}
                <a href="{{ link.link }}">{{ link.date_time }}</a>
            {% endfor %}
            <!--<a href="/?answer=true">Показать ответ</a>-->
        </div>
    </div>
</body>
</html>
